.order-history-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding-bottom: 6em;
}

.order-history-item{
    display: flex;
    justify-content: center;
    height: 12em;
    min-width: 65em;
}

.order-item{
    font-family: 'SFProBold';
    font-size: 1.8em;
}

.order-history-image{
    object-fit: cover;
    overflow: hidden;
    height: 10em;
    width: 10em;
}

.return-or-replace{
    display: flex;
    align-items: center;
}
.return-or-replace h3{
    font-family: 'SFProBold';
    margin: .4em;
}
.return-or-replace-modal-header{
    font-family: 'SFProBold';
    margin: .4em;
}

.return-or-replace button{
    border: .185em solid;
    font-family: 'SFProBold';
    font-size:1.66em;
    border-radius: 3em;
    width: 6em;
    height: 2em;
}
