.top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-container-text{
    position: absolute;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title{
    font-family: 'SFProBold';
    font-size: 3em;
    margin: 5px;
}

.section-info{
    margin: 5px;
    font-family: 'SFProMedium';
    font-weight: 100;
    color: #343434;
}

.top-container-links{
    font-family: 'SFProMedium';
    text-decoration: none;
}
