.signup-form-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.signup-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#repeat-password{
    width:71px;
}
