.current-user-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-user-reviews-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 234, 234);
    border-radius: 3em;
    width: 54%
}

.review{
    border: white 3px solid;
    display: flex;
    font-family: 'SFProMedium';
}

.review-image{
    display: inline-flex;
    object-fit: cover;
    width:250px;
    height:250px;
}

.review-image-carousel{
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}
