.all-items-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.all-bananas-container{
    overflow: hidden;
    width: 100%;
    min-width: 420px;
}

.all-bananas-inner{

    transition: transform 0.3s;
    display: flex;
    flex-direction: row;
    width: 420px;
}

.all-bananas-card{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 520px;
    padding: 10px;
    overflow: hidden;
    border-radius: 1.33em;
    margin: 10px;
    box-shadow: 2px 4px 12px rgb(210, 210, 210);
}

.all-bananas-card p{
    font-family: 'SFProMedium';
    font-size: 12px;
    margin: 5px;
    margin-top: 20px;
}

.all-bananas-card h4{
    font-family: 'SFProLight';
    font-weight: 100;
    font-size: 1.2em;
}

.all-bananas-card h3{
    font-family: 'SFProBold';
    font-size: 1.4em;
}

.dark{
    background: black;
    color: white;
}

.light{
    color: grey
}

.light h4,
.light h3{
    color: black;
}

#all-bananas-1{
    align-self: center;
}

.all-bananas-carousel-prev,
.all-bananas-carousel-next{
    position: absolute;
    top: 50%;
    z-index: 100;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background:white;
    border: none;
    box-shadow: 2px 4px 12px rgb(210, 210, 210);
}

.all-bananas-carousel-prev{
    left: -15px;
}

.all-bananas-carousel-next{
    right: 15px;
}

.all-items-label{
    font-family: 'SFProBold';
    font-size: 8em;
    width:50%;
    padding: 40px;
}

.all-bananas-carousel{
    width: 100%;
    position: relative;
}
