.all-bananas-card{
    width: 340px;
    height: 520px;
    padding: 10px;
    overflow: hidden;
    border-radius: 1.33em;
    margin: 10px;
    box-shadow: 2px 4px 12px #00000014;
}

.all-bananas-card p{
    font-family: 'SFProMedium';
    font-weight: 100;
    margin: 5px;
}

.all-bananas-card h4{
    font-family: 'SFProMedium';
    font-weight: 100;
    font-size: 1.2em;
}

.all-bananas-card h3{
    font-family: 'SFProBold';
    font-size: 1.4em;
}

.all-bananas-container{
    display: flex;
    flex-direction: row;
}

.dark{
    background: black;
    color: white;
}

.light{
    color: grey
}

.light h4,
.light h3{
    color: black;
}
